.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    padding-top: 20px;
}
.div1{
    color: rgb(82, 86, 89);
    font-size: 3.6ch;
    font-family: 'Times New Roman', Times, serif;
}
.div2{
    padding-left: 90px;
    font-size: 2.2ch;
}