.header{
    /* display: grid;
    grid-template-columns: 1fr 1fr ; */
    padding-left: 50px;
    padding-top: 20px;

}
.div1{
    color: rgb(82, 86, 89);
    font-size: 4.2ch;
    font-family: 'Times New Roman', Times, serif;
}
.div2{
    font-size: 2.3ch;
    padding-left: 280px;
    
}