.div2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    /* border: 1px black solid; */
    padding: 50px;
    margin-top: 20px;
}
#pic1{
    height: 200px;
}
#v1{
  text-decoration: none;
}    